@font-face {
  font-family: 'Fredoka';
  src: url('../fonts/Fredoka-Regular.woff2') format('woff2'),
  url('../fonts/Fredoka-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Hind Madurai';
  src: url('../fonts/HindMadurai-Medium.woff2') format('woff2'),
  url('../fonts/HindMadurai-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url('../fonts/HindMadurai-Regular.woff2') format('woff2'),
  url('../fonts/HindMadurai-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Basic style start  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container{
  width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}

/* Basic style end  */


/* header style start  */
.site-header{
  background-color:#FFD8F0;
  
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  
}

.header__logo-link{
  display: inline-block;
}

.header__wrapper{
  width: 774px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list{
  display: flex;
}
.navbar__item + .navbar__item{
  margin-left: 38px;
}

.navbar__item{
  transition: 0.3s;
}
.navbar__item:hover{
  transform: scale(1.2);
}
.navbar__link{
  color: #150101;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.3s;
}
.navbar__link:hover{
  color: #D23166;

}

.wrapper__link{
  padding: 14px 50px 14px 50px;
  /* width: 165px;
  height: 49px; */
  flex-shrink: 0;
  border-radius: 5px;
  background: #D23166;
  color: #FAFAFA;
  font-family: Hind Madurai;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition:  0.3s;
  border: 2px solid transparent;
  
}

.wrapper__link:hover{
  color: rgba(210, 49, 102, 1 );
  font-family: Hind Madurai;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  border-radius: 5px;
  border: 2px solid #D23166;
  background-color: white;
  
}


/* header style end  */


/* hero section start  */
.hero-section{
  background-color:#FFD8F0;
  background-image: url("../Images/bg-image.png");
  background-repeat: no-repeat;
  background-size: 697px 597px;
  background-position-x: calc(50% + 300px);
  background-position-y: 40px;
  padding: 0px 0px 170px 0px;
}
.hero__content{
  width: 665px;
}

.hero__content-span{
  color: #0F0101;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-bottom: 6px;
  margin-top: 156px;
  margin-left: 15px;
  display: inline-block;
}

.hero__content-title{
  color: #0F0101;
  font-family: Fredoka;
  font-size: 57.33px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%;
  margin-bottom: 35px;
  
}

.hero__content-title_red{
  opacity: 0.9;
  color: #D23166;
}

.hero__content-text{
  color: #0F0101;
  font-family: Hind Madurai;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 50px;
}

.hero__link{
  display: inline-block;
  
  flex-shrink: 0;
  border-radius: 5px;
  background: #D23166;
  padding: 16px 50px;
  color: #FAFAFA;
  border: 2px solid transparent;
  font-family: Hind Madurai;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.3s;
}
.hero__link:hover{
  border: 2px solid #D23166 ;
  background: white;
  color: #D23166;
}
/* hero section end  */


/* inner style start  */

.inner{
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
}

.inner__box{
  position: relative;
  text-align: center;
  width: 250px;
  height: 200px;
  padding: 101px 26px 0px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  transition: 0.3s;
  
}
.inner__box:hover{
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.10);
  cursor: pointer;
  
}

.inner__box::before{
  position: absolute;
  
  content: " ";
  width: 51px;
  height: 43px;
  background-image: url("../Images/car.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 33px;
  left: 100px;
  bottom: 0px;
}

.box__two::before{
  position: absolute;
  
  content: " ";
  width: 32px;
  height: 42px;
  background-image: url("../Images/Group.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 33px;
  left: 110px;
  bottom: 0px;
}

.box__three::before{
  position: absolute;
  
  content: " ";
  width: 44px;
  height: 44px;
  background-image: url("../Images/cash-back.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 33px;
  left: 100px;
  bottom: 0px;
}
.box__four::before{
  position: absolute;
  
  content: " ";
  width: 54px;
  height: 54px;
  background-image: url("../Images/fast-delivery.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 33px;
  left: 100px;
  bottom: 0px;
}




.inner__box-title{
  color: #000;
  font-family: Hind Madurai;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inner__box-text{
  color: #000;
  opacity: 0.6;
  text-align: center;
  font-family: Hind Madurai;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* inner style end  */


/* Brown section style start  */

.brown-section{
  background-color:#FFD8F0;
  padding: 141px 0px 161px 0px;
  background-image: url("../Images/section2-image.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 269px);
  background-position-y: calc(50%);
}

.brown__content{
  width: 442px;
  align-items: center;
}

.brown__title{
  color: #150101;
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.5%; /* 48.841px */
  margin-bottom: 16px;
}

.brown__text{
  color: #150101;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.brown__link{
  padding-top: 30px;
  border-radius: 5px;
  background: #D64374;
  display: inline-block;
  margin-top: 30px;
  color: #FAFAFA;
  padding: 15px 42px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.brown__link:hover{
  border: 2px solid #D23166;
  background-color: white;
  color: #D23166;
}
.brwn_img{
  display: inline-block;
}
/* Brown section style end  */

/* product style start  */
.product-section{
  padding: 137px 0px;
}

.product__top{
  width: 888px;
  text-align: center;
  margin: 0 auto;
}

.product__title{
  color: #150101;
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 64px;
}
.product__list{
  display: inline-block;
  display: flex;
  gap: 40px;
}

.product__item-link{
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
  
}
.product__item-link:hover{
  padding-bottom: 5px;
  border-bottom: 3px solid #D23166;
}
.product__img{
  display: block;
}
.product__card{
  display: flex;
  align-items: center;
  margin-top: 50px;
  /* margin-bottom: 30px; */
}

.product__card:nth-child(2n+1){
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 50px;
  
  .content{
    text-align: right;
  }
  .product__link{
    margin-left: auto;
  }
}

.product__content{
  width: 454px;
  margin-left: 85px;
}

.content__title{
  color: #000;
  font-family: Hind Madurai;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 11px;
}

.content__text{
  width: 454px;
  height: 67px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.7;
  margin-bottom: 28px;
}
.content__strong{
  color: #000;
  font-family: Hind Madurai;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content__span{
  color: #000;
  font-family: Hind Madurai;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
  opacity: 0.7;
  
}
.product__link{
  width: 165px;
  height: 49px;  
  display: block;
  border-radius: 5px;
  background: #D64374;
  padding: 15px 50px;
  color: #FAFAFA;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1.5px solid transparent;
  transition: 0.3s;
  margin-top: 20px;
}
.product__link:hover{
  border: 1.5px solid #D23166;
  background-color: white;
  color: #D23166;
  
}


.adele{
  width: 368px;
}
.adele__top{
  width: 259px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}

.adele__strong{
  display: block;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
}

.adele__span{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.adele__text{
  position: relative;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.7;
  padding: 0px 22px;
  margin-bottom: 50px;
}

.adele__text::before{
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  background-image: url("../Images/comma-one.svg");
  background-repeat: no-repeat;
  /* background-size: 100%; */
  top: 0;
  left: 0;
}

.adele__text::after{
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  background-image: url("../Images/comma-two.svg");
  background-repeat: no-repeat;
  /* background-size: 100%; */
  bottom: 0;
  right: 60px;
}

.adele__images{
  position: relative;
  padding: 0 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adele__images::before{
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../Images/left-arrow.svg");
  background-repeat: none;
  background-size: 100%;
  left: 0;
  cursor: pointer;
}

.adele__images::after{
  cursor: pointer;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../Images/right-arrow.svg");
  background-repeat: none;
  background-size: 100%;
  right: 0;
}


.adele__images-one{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  
}
.adele-images-center{
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  display: inline-block;
  border: 1px solid brown;
  border-radius: 50%;
}




/* product style end  */

/* simple style start  */
.simple-section{
  background-color:#FFD8F0;
  padding: 85px 0px 139px 0px;
  background-image: url("../Images/Mask-Group.png");
  background-size: 269px;
  background-repeat: no-repeat;
  background-position-x: calc(50% - 295px);
  background-position-y: calc(50% - 9px);
  
  
  
}
.simple{
  width: 621px;
  margin-left: auto;
}

.simple__title{
  color: #000;
  font-family: Roboto;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.simple__text{
  color: #0F0101;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  margin-top: 20px;
  margin-bottom: 31px;
}
.simple__item{
  margin-bottom: 19px;
}
.simple__item-link{
  display: inline;
  display: flex;
  align-items: center;
}

.simple__item-link:hover img , span{
  transform: scale(1.14);
}
.simple__item-link:hover span{
  color: #D23166;
}
.simple__item-img{
  display: inline;
  margin-right: 20px;
}
.simple__span{
  display: inline-block;
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s;
}
.simple__bottom{
  margin-top: 50px;
  display: flex;
  align-items: center;
}

/* simple style end  */

/* question section style start  */
.question-section{
  padding: 111px 0px;
}
.question__content{
  width: 522px;
  margin: 0 auto;
}
.question__title{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__card-top{
  margin: 0 auto;
  width: 636px;
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}
.form__input{
  width: 303px;
  color: #0F0000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
  padding: 29px 0px 29px 25px;
  border-radius: 5px;
  border: 1px solid #FFA3A3;
  background: #FFF;
  
}

.form__card-bottom{
  width: 637px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
}

.form__input-bottom{
  width: 503px;
  color: #0F0000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
  padding: 29px 0px 29px 25px;
  border-radius: 5px;
  border: 1px solid #FFA3A3;
  background: #FFF;
}
.form__btn{
  cursor: pointer;
  width: 130px;
  height: 76px;
  padding: 26px 44px 25px 44px;
  border-radius: 5px;
  border: 2px solid #D64374;
  background: #FFF;
  border-radius: 5px;
  background: #D64374;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}

.form__btn:hover{
  background-color: white;
  color: #D23166;
  border-radius: 5px;
  border: 2px solid #D64374;
  transition: all 0.4s;
}





/* question section style end  */

/* footer style start  */

.site-footer{
  background: #0A0808;
  padding: 70px 0px 104px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__polar{
  width: 207px;
}

.footer__polar-img{
  display: block;
}
.footer__polar-text{
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.687%; /* 16.762px */
  letter-spacing: 0.12px;
  opacity: 0.7;
  margin-bottom: 25px;
  margin-top: 9px;
  display: inline-block;
}

.footer__follow{
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  padding-left: 3px;
  margin-bottom: 8px;
}
.footer__icons{
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icon-img:hover{
  transform: scale(1.34);
}
.footer__list{
  margin-top: 75px;
}
.footer__lists{
  margin-top: 47px;
}

.footer__item-link{
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  transition:  0.3s;
  margin-bottom: 10px;
  display: inline-block;
}

.footer__item-link:hover{
  color: rgb(81, 81, 192);
  transform: scale(1.25);
}
.item__link{
  color: #FFF;
  opacity: 1;
}

.footer__items-link{
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  margin-bottom: 10px;
  display: inline-block;
  transition:  0.3s;
}

.footer__items-link:hover{
  color: rgb(81, 81, 192);
  transform: scale(1.25);
}

.newsletter__title{
  color: #FFF;
  
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin-bottom: 13px;
}

.newsletter__input{
  width: 388px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #D64374;
  background: #0A0808;
  opacity: 0.5;
  padding: 20px 0px 19px 32px;
  color: white;
}

.newsletter__btn{
  width: 125px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #D23166;
  border: none;
  color: #FFF;
  border: 1px solid  #D23166;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.4s;
}
.newsletter__btn:hover{
  background-color: white;
  border: 1px solid  #D23166;
  color: #D23166;
  cursor: pointer;
}

/* footer style end  */


